body { background-color: #B0C4FC;
}

h1 {text-align: center;
font-size: 400%;
}



#heartrate {width: 40%;
	margin-left: 200px;
}

.floatright { float: right;
margin-right: 200px;
border-width: 5px;
border-style: double; }

#range { width: 200px; 
text-align: center;}


